* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #5170ff, #ff66c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    max-width: 470px;
    width: 90%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: #fff;
    margin: 20px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
}

.card:hover {
    background: rgba(255, 255, 255, 0.3);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background: #ffff;
    color: #000;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    transition: background 0.3s ease-in-out;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #000;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    transition: background 0.3s ease-in-out;
    ::placeholder {
        color: rgba(26, 17, 16, 0.7); 
    }
}

.search button {
    border: 0;
    outline: 0;
    background: #ffff;
    border-radius: 90%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.search button img {
    width: 40px;
}

.search input:focus,
.search button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
    transition: transform 0.3s ease-in-out;
}

.weather-icon:hover {
    transform: scale(1.1); 
}

.weather h1 {
    font-size: 80px;
    font-weight: 400;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
header {
    background: rgba(255, 255, 255, 0.2); 
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    border-radius: 0px 30px 30px 0px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
